{% extends 'homebase.html' %}
{% load static %}
{% block title %} {{ setting.title }} | {{ page }}{% endblock %}
{% block description %} index description {% endblock %}
{% block keywords %} index keywords {% endblock %}

{% block body %}


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">About US</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="/home">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">About US</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- About-US Start -->

    {{ setting.aboutus | safe }}
    
<!-- About-US End -->

 {% endblock %}