{% extends 'homebase.html' %}
{% load static %}
{% block description %} index description {% endblock %}
{% block keywords %} index keywords {% endblock %}

{% block body %}


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">About US</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="/home">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">About US</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- About Start -->
<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="Image">
        </div>
        <div class="col-lg-6">
            <h2 class="display-4 font-weight-bold mb-4">10 Years Experience</h2>
            <p>Labore vero lorem eos sed aliquy ipsum aliquy sed. Vero dolore dolore takima ipsum lorem rebum</p>
            <div class="row py-2">
                <div class="col-sm-6">
                    <i class="flaticon-barbell display-2 text-primary"></i>
                    <h4 class="font-weight-bold">Certified GYM Center</h4>
                    <p>Ipsum sanctu dolor ipsum dolore sit et kasd duo</p>
                </div>
                <div class="col-sm-6">
                    <i class="flaticon-medal display-2 text-primary"></i>
                    <h4 class="font-weight-bold">Award Winning</h4>
                    <p>Ipsum sanctu dolor ipsum dolore sit et kasd duo</p>
                </div>
            </div>
            <a href="" class="btn btn-lg px-4 btn-outline-primary">Learn More</a>
        </div>
    </div>
</div>
<!-- About End -->
    
    {% comment %} OTURUM ACINCA HAKKIMDA KISMI GELECEK KOD {% endcomment %}
    {{ setting.aboutus | safe }}
    


 {% endblock %}