{% extends 'homebase.html' %}
{% load static %}
{% block title %} GYMNAST | User Profile {% endblock %}
{% block description %} index description {% endblock %}
{% block keywords %} index keywords {% endblock %}

{% block body %}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">User Profile</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="/home">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">User Comments</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Comments Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        {% include 'user_panel.html' %}
        <div class="col-lg-9 table-responsive mb-5">
            <div class="order-summary clearfix">
                <div class="section-title">
                    <h3 class="title">Comment List</h3>
                </div>
                   <table class="shopping-cart-table table">
                        <thead class="bg-secondary text-light">
                            <tr>
                                <th class="align-middle">User</th>
                                <th class="align-middle">Comment</th>
                                <th class="align-middle">Status</th>
                                <th class="align-middle">Date</th>
                                <th class="align-middle">Remove</th>
                            </tr>
                        </thead>
                    {% for comment in comments %}
                        <tr>
                            <td class="align-middle">
                                <a href="/single" class="text-success">{{ comment.user }}</a>
                            </td>
                            <td class="align-middle">{{ comment.comment }} </td>
                            <td class="align-middle">{{ comment.status }} </td>
                            <td class="align-middle">{{ comment.create_at }} </td>
                            <td class="align-middle">
                                <a href="/user/deletecomment/{{ comment.id }}" onclick="return confirm('Will be Delete ! Are you sure?')"><button class="btn btn-outline-danger"><i class="fa fa-times"></i></button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>


            {% comment %}! REPLY COMMENT {% endcomment %}
            <div class="order-summary clearfix">
                <div class="section-title">
                    <h3 class="title">Reply-Comment List</h3>
                </div>
                   <table class="shopping-cart-table table">
                        <thead class="bg-secondary text-light">
                            <tr>
                                <th class="align-middle">User</th>
                                <th class="align-middle">Comment</th>
                                <th class="align-middle">Status</th>
                                <th class="align-middle">Date</th>
                                <th class="align-middle">Remove</th>
                            </tr>
                        </thead>
                    {% for replycomment in replycomments %}
                        <tr>
                            <td class="align-middle">
                                <a href="/single" class="text-success">{{ replycomment.user }}</a>
                            </td>
                            <td class="align-middle">{{ replycomment.repcomment }} </td>
                            <td class="align-middle">{{ replycomment.status }} </td>
                            <td class="align-middle">{{ replycomment.create_at }} </td>
                            <td class="align-middle">
                                <a href="/user/deletecomment/{{ replycomment.id }}" onclick="return confirm('Will be Delete ! Are you sure?')"><button class="btn btn-outline-danger"><i class="fa fa-times"></i></button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>



        </div>
    </div>
</div>
<!-- Comments End -->
{% endblock %}