{% extends 'homebase.html' %}
{% load static %}
{% block title %} GYMNAST | User Profile {% endblock %}
{% block description %} index description {% endblock %}
{% block keywords %} index keywords {% endblock %}

{% block body %}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">User Profile</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="/home">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">User Password</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Password Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            {% include 'user_panel.html' %}
                       <div class="col-lg-9 table-responsive mb-5">
               {% if messages %}
                        {% for message in messages %}
                            <div style="color: #d43f3a; font-size: medium">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}


                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <button class="primary-btn" type="submit">Save changes</button>
                    </form>
            </div>
        </div>
    </div>
<!-- Password End -->




 {% endblock %}